.intro {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: #fff; /* You can change the color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; /* To overlay the intro on top of other content */
    transition: top 0.5s ease;
  }
  
  .logo-header {
    font-size: 4rem; /* Adjust size as needed */
    text-align: center;
  }
  
  .logo {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }
  
  .logo.active {
    opacity: 1;
  }
  
  /* Ensure other content is positioned properly after the intro disappears */
  body {
    margin: 0;
    padding: 0;
  }
  
  .container-fluid {
    position: relative;
    z-index: 1; /* Ensures the rest of the content is hidden behind intro during animation */
  }
  